# https://github.com/github/linguist/blob/master/docs/overrides.md

visualisation_notebook/** linguist-documentation

admin/** linguist-documentation

figures_for_paper/* linguist-documentation

.python-version linguist-generated
uv.lock linguist-generated

